In [4]:
import pandas as pd
import numpy as np

In [5]:
dataset_food_inflation_rate = pd.read_csv('./data/food_inflation_rate.csv')

In [6]:
dataset_food_inflation_rate.head()

,Domain Code,Domain,Area Code (M49),Area,Year Code,Year,Item Code,Item,Months Code,Months,Element Code,Element,Unit,Value,Flag,Flag Description,Note
0,CP,Consumer Price Indices,248,Åland Islands,2012,2012,23014,Food price inflation,7001,January,6121,Value,%,2.607987,E,Estimated value,NaN
1,CP,Consumer Price Indices,248,Åland Islands,2012,2012,23014,Food price inflation,7002,February,6121,Value,%,3.896104,E,Estimated value,NaN
2,CP,Consumer Price Indices,248,Åland Islands,2012,2012,23014,Food price inflation,7003,March,6121,Value,%,2.967121,E,Estimated value,NaN
3,CP,Consumer Price Indices,248,Åland Islands,2012,2012,23014,Food price inflation,7004,April,6121,Value,%,2.149682,E,Estimated value,NaN
4,CP,Consumer Price Indices,248,Åland Islands,2012,2012,23014,Food price inflation,7005,May,6121,Value,%,3.559871,E,Estimated value,NaN

In [7]:
dataset_food_inflation_rate = dataset_food_inflation_rate[['Area', 'Year', 'Months', 'Value']]

In [8]:
dataset_food_inflation_rate = dataset_food_inflation_rate.rename(columns = {'Value': 'Food Inflation Rate'})

In [9]:
dataset_food_inflation_rate.head()

            Area  Year    Months  Food Inflation Rate
0  Åland Islands  2012   January             2.607987
1  Åland Islands  2012  February             3.896104
2  Åland Islands  2012     March             2.967121
3  Åland Islands  2012     April             2.149682
4  Åland Islands  2012       May             3.559871

In [10]:
dataset_food_inflation_rate = dataset_food_inflation_rate.groupby(['Area', 'Year'], as_index=False)['Food Inflation Rate'].mean()

In [11]:
dataset_food_inflation_rate.head()

      Area  Year  Food Inflation Rate
0  Albania  2012             2.404087
1  Albania  2013             4.214607
2  Albania  2014             2.212385
3  Albania  2015             4.294233
4  Albania  2016             3.254620

In [12]:
dataset_raw_gdp = pd.read_csv('./data/raw_gdp.csv')

In [13]:
dataset_raw_gdp.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,MK,Macro Indicators,8,Albania,6110,Value US$,22008,Gross Domestic Product,2012,2012,million USD,12319.779604,X,Figure from international organizations,NaN
1,MK,Macro Indicators,8,Albania,6110,Value US$,22008,Gross Domestic Product,2013,2013,million USD,12776.280738,X,Figure from international organizations,NaN
2,MK,Macro Indicators,8,Albania,6110,Value US$,22008,Gross Domestic Product,2014,2014,million USD,13228.240079,X,Figure from international organizations,NaN
3,MK,Macro Indicators,8,Albania,6110,Value US$,22008,Gross Domestic Product,2015,2015,million USD,11386.924853,X,Figure from international organizations,NaN
4,MK,Macro Indicators,8,Albania,6110,Value US$,22008,Gross Domestic Product,2016,2016,million USD,11861.356451,X,Figure from international organizations,NaN

In [14]:
dataset_raw_gdp = dataset_raw_gdp[['Area', 'Year', 'Value']]

In [15]:
dataset_raw_gdp = dataset_raw_gdp.rename(columns = {'Value': 'Raw GDP'})

In [16]:
dataset_raw_gdp.head()

      Area  Year       Raw GDP
0  Albania  2012  12319.779604
1  Albania  2013  12776.280738
2  Albania  2014  13228.240079
3  Albania  2015  11386.924853
4  Albania  2016  11861.356451

In [17]:
dataset_gdp_growth_rate = pd.read_csv('./data/gdp_growth_rate.csv')

In [18]:
dataset_gdp_growth_rate.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,MK,Macro Indicators,8,Albania,6129,Annual growth US$,22008,Gross Domestic Product,2012,2012,%,-4.430218,X,Figure from international organizations,NaN
1,MK,Macro Indicators,8,Albania,6129,Annual growth US$,22008,Gross Domestic Product,2013,2013,%,3.705432,X,Figure from international organizations,NaN
2,MK,Macro Indicators,8,Albania,6129,Annual growth US$,22008,Gross Domestic Product,2014,2014,%,3.537487,X,Figure from international organizations,NaN
3,MK,Macro Indicators,8,Albania,6129,Annual growth US$,22008,Gross Domestic Product,2015,2015,%,-13.919579,X,Figure from international organizations,NaN
4,MK,Macro Indicators,8,Albania,6129,Annual growth US$,22008,Gross Domestic Product,2016,2016,%,4.166459,X,Figure from international organizations,NaN

In [19]:
dataset_gdp_growth_rate = dataset_gdp_growth_rate[['Area', 'Year', 'Value']]

In [20]:
dataset_gdp_growth_rate = dataset_gdp_growth_rate.rename(columns = {"Value": "GDP Growth Rate"})

In [21]:
dataset_gdp_growth_rate.head()

      Area  Year  GDP Growth Rate
0  Albania  2012        -4.430218
1  Albania  2013         3.705432
2  Albania  2014         3.537487
3  Albania  2015       -13.919579
4  Albania  2016         4.166459

In [22]:
dataset_producer_prices = pd.read_csv('./data/producer_prices.csv')

In [23]:
dataset_producer_prices.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Months Code,Months,Unit,Value,Flag,Flag Description
0,PP,Producer Prices,8,Albania,5532,Producer Price (USD/tonne),01341,Apples,2012,2012,7021,Annual value,USD,369.7,A,Official figure
1,PP,Producer Prices,8,Albania,5532,Producer Price (USD/tonne),01341,Apples,2013,2013,7021,Annual value,USD,492.1,A,Official figure
2,PP,Producer Prices,8,Albania,5532,Producer Price (USD/tonne),01341,Apples,2014,2014,7021,Annual value,USD,474.8,A,Official figure
3,PP,Producer Prices,8,Albania,5532,Producer Price (USD/tonne),01341,Apples,2015,2015,7021,Annual value,USD,389.0,A,Official figure
4,PP,Producer Prices,8,Albania,5532,Producer Price (USD/tonne),01341,Apples,2016,2016,7021,Annual value,USD,381.3,A,Official figure

In [24]:
dataset_producer_prices = dataset_producer_prices[['Area', 'Year', 'Item', 'Value']]

In [25]:
dataset_producer_prices = dataset_producer_prices.rename(columns={"Value": "Item Price Per Tonne"})

In [26]:
dataset_producer_prices.head()

      Area  Year    Item  Item Price Per Tonne
0  Albania  2012  Apples                 369.7
1  Albania  2013  Apples                 492.1
2  Albania  2014  Apples                 474.8
3  Albania  2015  Apples                 389.0
4  Albania  2016  Apples                 381.3

In [27]:
dataset_overall_inflation = pd.read_excel('./data/overall_inflation.xlsx')

In [28]:
columns_to_drop = [f'Unnamed: {i}' for i in range(2, 25) if i % 2 == 0]
columns_to_drop

['Unnamed: 2',
 'Unnamed: 4',
 'Unnamed: 6',
 'Unnamed: 8',
 'Unnamed: 10',
 'Unnamed: 12',
 'Unnamed: 14',
 'Unnamed: 16',
 'Unnamed: 18',
 'Unnamed: 20',
 'Unnamed: 22',
 'Unnamed: 24']

In [29]:
dataset_overall_inflation = dataset_overall_inflation[12:51]

In [30]:
dataset_overall_inflation = dataset_overall_inflation.drop(columns=columns_to_drop)

In [31]:
columns_to_stay = [f'Unnamed: {i}' for i in range(1, 25) if i % 2 == 1]

In [32]:
dict_rename_columns = {}

In [33]:
for prev_name, year in zip(columns_to_stay, range(2012, 2024)):
    dict_rename_columns[prev_name] = year

In [34]:
dict_rename_columns

{'Unnamed: 1': 2012,
 'Unnamed: 3': 2013,
 'Unnamed: 5': 2014,
 'Unnamed: 7': 2015,
 'Unnamed: 9': 2016,
 'Unnamed: 11': 2017,
 'Unnamed: 13': 2018,
 'Unnamed: 15': 2019,
 'Unnamed: 17': 2020,
 'Unnamed: 19': 2021,
 'Unnamed: 21': 2022,
 'Unnamed: 23': 2023}

In [35]:
dict_rename_columns['Data extracted on 22/07/2024 23:21:37 from [ESTAT]'] = 'Area'

In [36]:
dataset_overall_inflation = dataset_overall_inflation.rename(columns=dict_rename_columns)

In [37]:
dataset_overall_inflation

,Area,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
12,Belgium,2.6,1.2,0.5,0.6,1.8,2.2,2.3,1.2,0.4,3.2,10.3,2.3
13,Bulgaria,2.4,0.4,-1.6,-1.1,-1.3,1.2,2.6,2.5,1.2,2.8,13,8.6
14,Czechia,3.5,1.4,0.4,0.3,0.6,2.4,2,2.6,3.3,3.3,14.8,12
15,Denmark,2.4,0.5,0.4,0.2,0,1.1,0.7,0.7,0.3,1.9,8.5,3.4
16,Germany,2.2,1.6,0.8,0.7,0.4,1.7,1.9,1.4,0.4,3.2,8.7,6
17,Estonia,4.2,3.2,0.5,0.1,0.8,3.7,3.4,2.3,-0.6,4.5,19.4,9.1
18,Ireland,1.9,0.5,0.3,0,-0.2,0.3,0.7,0.9,-0.5,2.4,8.1,5.2
19,Greece,1,-0.9,-1.4,-1.1,0,1.1,0.8,0.5,-1.3,0.6,9.3,4.2
20,Spain,2.4,1.5,-0.2,-0.6,-0.3,2,1.7,0.8,-0.3,3,8.3,3.4
21,France,2.2,1,0.6,0.1,0.3,1.2,2.1,1.3,0.5,2.1,5.9,5.7
22,Croatia,3.4,2.3,0.2,-0.3,-0.6,1.3,1.6,0.8,0,2.7,10.7,8.4
23,Italy,3.3,1.2,0.2,0.1,-0.1,1.3,1.2,0.6,-0.1,1.9,8.7,5.9
24,Cyprus,3.1,0.4,-0.3,-1.5,-1.2,0.7,0.8,0.5,-1.1,2.3,8.1,3.9
25,Latvia,2.3,0,0.7,0.2,0.1,2.9,2.6,2.7,0.1,3.2,17.2,9.1
26,Lithuania,3.2,1.2,0.2,-0.7,0.7,3.7,2.5,2.2,1.1,4.6,18.9,8.7
27,Luxembourg,2.9,1.7,0.7,0.1,0,2.1,2,1.6,0,3.5,8.2,2.9
28,Hungary,5.7,1.7,0,0.1,0.4,2.4,2.9,3.4,3.4,5.2,15.3,17
29,Malta,3.2,1,0.8,1.2,0.9,1.3,1.7,1.5,0.8,0.7,6.1,5.6
30,Netherlands,2.8,2.6,0.3,0.2,0.1,1.3,1.6,2.7,1.1,2.8,11.6,4.1
31,Austria,2.6,2.1,1.5,0.8,1,2.2,2.1,1.5,1.4,2.8,8.6,7.7
32,Poland,3.7,0.8,0.1,-0.7,-0.2,1.6,1.2,2.1,3.7,5.2,13.2,10.9
33,Portugal,2.8,0.4,-0.2,0.5,0.6,1.6,1.2,0.3,-0.1,0.9,8.1,5.3
34,Romania,3.4,3.2,1.4,-0.4,-1.1,1.1,4.1,3.9,2.3,4.1,12,9.7
35,Slovenia,2.8,1.9,0.4,-0.8,-0.2,1.6,1.9,1.7,-0.3,2,9.3,7.2
36,Slovakia,3.7,1.5,-0.1,-0.3,-0.5,1.4,2.5,2.8,2,2.8,12.1,11
37,Finland,3.2,2.2,1.2,-0.2,0.4,0.8,1.2,1.1,0.4,2.1,7.2,4.3
38,Sweden,0.9,0.4,0.2,0.7,1.1,1.9,2,1.7,0.7,2.7,8.1,5.9
39,Iceland,6,4.1,1,0.3,0.8,-1.7,0.7,2,1.2,3.7,5.7,8
40,Liechtenstein,:,:,:,:,:,:,:,:,:,:,:,:
41,Norway,0.4,2,1.9,2,3.9,1.9,3,2.3,1.2,3.9,6.2,5.8
42,Switzerland,-0.7,0.1,0,-0.8,-0.5,0.6,0.9,0.4,-0.8,0.5,2.7,2.3
43,United Kingdom,2.8,2.6,1.5,0,0.7,2.7,2.5,1.8,:,:,:,:
44,Montenegro,:,:,:,:,-0.1,2.7,2.6,0.5,-0.5,2.5,11.9,8.7
45,North Macedonia,1.8,2.7,0,0.1,0.2,2.1,2.3,0.7,1.2,3.4,14,9
46,Albania,:,:,:,:,:,3.2,1.8,1.7,2.2,2.3,6.6,5.3
47,Serbia,7.4,7.7,2.3,1.5,1.3,3.3,2,1.9,1.8,4,11.7,12.1
48,Türkiye,9,7.5,8.9,7.7,7.7,11.1,16.3,15.2,12.3,19.6,72.3,54
49,Kosovo*,:,:,:,:,:,1.5,1.1,2.7,0.2,3.4,11.6,4.9
50,United States,2.1,1.2,1.3,-0.8,0.6,1.8,2.2,1.4,0.8,5.3,8.7,3

In [38]:
dataset_overall_inflation = dataset_overall_inflation.melt(id_vars=['Area'], var_name='Year', value_name='Overall Inflation Rate')

In [39]:
dataset_overall_inflation = dataset_overall_inflation[dataset_overall_inflation['Area']!='Liechtenstein']

In [40]:
#pd.set_option('future.no_silent_downcasting', True)
dataset_overall_inflation = dataset_overall_inflation.replace(to_replace=":", value=np.nan)

In [41]:
dataset_overall_inflation = dataset_overall_inflation.sort_values(by=['Area', 'Year'])

In [42]:
df = dataset_overall_inflation.copy()

In [43]:
df

              Area  Year  Overall Inflation Rate
34         Albania  2012                     NaN
73         Albania  2013                     NaN
112        Albania  2014                     NaN
151        Albania  2015                     NaN
190        Albania  2016                     NaN
..             ...   ...                     ...
311  United States  2019                     1.4
350  United States  2020                     0.8
389  United States  2021                     5.3
428  United States  2022                     8.7
467  United States  2023                     3.0

[456 rows x 3 columns]

In [44]:
tmp = dataset_overall_inflation.groupby('Area')['Overall Inflation Rate'].apply(lambda group: group.fillna(method='bfill')).reset_index()

C:\Users\Tamara\AppData\Local\Temp\ipykernel_14972\901236023.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  tmp = dataset_overall_inflation.groupby('Area')['Overall Inflation Rate'].apply(lambda group: group.fillna(method='bfill')).reset_index()

In [45]:
tmp = tmp.rename(columns={'level_1': 'index'})

In [46]:
tmp = tmp.set_index('index')

In [47]:
dataset_overall_inflation['Overall Inflation Rate'] = tmp['Overall Inflation Rate']

In [48]:
tmp = dataset_overall_inflation.groupby('Area')['Overall Inflation Rate'].apply(lambda group: group.fillna(method='ffill')).reset_index()

C:\Users\Tamara\AppData\Local\Temp\ipykernel_14972\1717314096.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  tmp = dataset_overall_inflation.groupby('Area')['Overall Inflation Rate'].apply(lambda group: group.fillna(method='ffill')).reset_index()

In [49]:
tmp = tmp.rename(columns={'level_1': 'index'})

In [50]:
tmp = tmp.set_index('index')

In [51]:
dataset_overall_inflation['Overall Inflation Rate'] = tmp['Overall Inflation Rate']

In [52]:
dataset_overall_inflation

              Area  Year  Overall Inflation Rate
34         Albania  2012                     3.2
73         Albania  2013                     3.2
112        Albania  2014                     3.2
151        Albania  2015                     3.2
190        Albania  2016                     3.2
..             ...   ...                     ...
311  United States  2019                     1.4
350  United States  2020                     0.8
389  United States  2021                     5.3
428  United States  2022                     8.7
467  United States  2023                     3.0

[456 rows x 3 columns]

In [53]:
data = pd.merge(dataset_food_inflation_rate, dataset_raw_gdp, on=['Area', 'Year'], how='inner')

In [54]:
data

,Area,Year,Food Inflation Rate,Raw GDP
0,Albania,2012,2.404087,1.231978e+04
1,Albania,2013,4.214607,1.277628e+04
2,Albania,2014,2.212385,1.322824e+04
3,Albania,2015,4.294233,1.138692e+04
4,Albania,2016,3.254620,1.186136e+04
...,...,...,...,...
487,United Kingdom of Great Britain and Northern I...,2019,1.374278,2.851407e+06
488,United Kingdom of Great Britain and Northern I...,2020,0.721408,2.697807e+06
489,United Kingdom of Great Britain and Northern I...,2021,0.304925,3.141506e+06
490,United Kingdom of Great Britain and Northern I...,2022,10.894987,3.089073e+06
491,United Kingdom of Great Britain and Northern I...,2023,14.752064,3.263528e+06

In [55]:
data = pd.merge(data, dataset_gdp_growth_rate, on=['Area', 'Year'], how='inner')

In [56]:
data

,Area,Year,Food Inflation Rate,Raw GDP,GDP Growth Rate
0,Albania,2012,2.404087,1.231978e+04,-4.430218
1,Albania,2013,4.214607,1.277628e+04,3.705432
2,Albania,2014,2.212385,1.322824e+04,3.537487
3,Albania,2015,4.294233,1.138692e+04,-13.919579
4,Albania,2016,3.254620,1.186136e+04,4.166459
...,...,...,...,...,...
487,United Kingdom of Great Britain and Northern I...,2019,1.374278,2.851407e+06,-0.694212
488,United Kingdom of Great Britain and Northern I...,2020,0.721408,2.697807e+06,-5.386835
489,United Kingdom of Great Britain and Northern I...,2021,0.304925,3.141506e+06,16.446678
490,United Kingdom of Great Britain and Northern I...,2022,10.894987,3.089073e+06,-1.669055
491,United Kingdom of Great Britain and Northern I...,2023,14.752064,3.263528e+06,5.647490

In [57]:
data = pd.merge(data, dataset_producer_prices, on=['Area', 'Year'], how='inner')

In [58]:
data

,Area,Year,Food Inflation Rate,Raw GDP,GDP Growth Rate,Item,Item Price Per Tonne
0,Albania,2012,2.404087,1.231978e+04,-4.430218,Apples,369.7
1,Albania,2012,2.404087,1.231978e+04,-4.430218,Apricots,489.9
2,Albania,2012,2.404087,1.231978e+04,-4.430218,Barley,316.1
3,Albania,2012,2.404087,1.231978e+04,-4.430218,"Beans, dry",1562.2
4,Albania,2012,2.404087,1.231978e+04,-4.430218,Cabbages,203.4
...,...,...,...,...,...,...,...
18671,United Kingdom of Great Britain and Northern I...,2022,10.894987,3.089073e+06,-1.669055,"Shorn wool, greasy, including fleece-washed sh...",322.9
18672,United Kingdom of Great Britain and Northern I...,2022,10.894987,3.089073e+06,-1.669055,Strawberries,4004.6
18673,United Kingdom of Great Britain and Northern I...,2022,10.894987,3.089073e+06,-1.669055,Sugar beet,45.8
18674,United Kingdom of Great Britain and Northern I...,2022,10.894987,3.089073e+06,-1.669055,Tomatoes,1565.6
18675,United Kingdom of Great Britain and Northern I...,2022,10.894987,3.089073e+06,-1.669055,Wheat,330.7

In [59]:
dataset_overall_inflation['Area'].unique()

array(['Albania', 'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo*',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Montenegro',
       'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal',
       'Romania', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Türkiye', 'United Kingdom', 'United States'],
      dtype=object)

In [62]:
data = pd.merge(data, dataset_overall_inflation, on=['Area', 'Year'], how='inner')

In [65]:
data.head()

,Area,Year,Food Inflation Rate,Raw GDP,GDP Growth Rate,Item,Item Price Per Tonne,Overall Inflation Rate
0,Albania,2012,2.404087,12319.779604,-4.430218,Apples,369.7,3.2
1,Albania,2012,2.404087,12319.779604,-4.430218,Apricots,489.9,3.2
2,Albania,2012,2.404087,12319.779604,-4.430218,Barley,316.1,3.2
3,Albania,2012,2.404087,12319.779604,-4.430218,"Beans, dry",1562.2,3.2
4,Albania,2012,2.404087,12319.779604,-4.430218,Cabbages,203.4,3.2

In [64]:
data.isnull().sum()

Area                      0
Year                      0
Food Inflation Rate       0
Raw GDP                   0
GDP Growth Rate           0
Item                      0
Item Price Per Tonne      0
Overall Inflation Rate    0
dtype: int64

In [68]:
# TODO:
# scaling, encoding, model creation and training, displaying results, shap :D